[submodule "packages/modus-themes"]
	path = packages/modus-themes
	url = https://github.com/protesilaos/modus-themes.git
[submodule "packages/company-mode"]
	path = packages/company-mode
	url = https://github.com/company-mode/company-mode.git
[submodule "packages/evil"]
	path = packages/evil
	url = https://github.com/emacs-evil/evil.git
[submodule "packages/consult"]
	path = packages/consult
	url = https://github.com/minad/consult
[submodule "packages/vertico"]
	path = packages/vertico
	url = https://github.com/minad/vertico.git
[submodule "packages/orderless"]
	path = packages/orderless
	url = https://github.com/oantolin/orderless.git
[submodule "packages/embark"]
	path = packages/embark
	url = https://github.com/oantolin/embark.git
[submodule "packages/marginalia"]
	path = packages/marginalia
	url = https://github.com/minad/marginalia.git
[submodule "packages/evil-collection"]
	path = packages/evil-collection
	url = https://github.com/emacs-evil/evil-collection.git
