# ===================================================================
# .gitignore for Emacs configuration (~/.emacs.d/)
# ===================================================================

elpa/
el-get/


eln-cache/
tree-sitter/
auto-save-list/
backup/
history
tramp
url/
.eglot/
org-roam.db
.emacs.desktop
.emacs.desktop.lock
recentf/
*~
.#*
package-quickstart.el
package-quickstart.elc
recentf.eld
projects
.cache/