[submodule "magit"]
	path = packages/magit
	url = https://github.com/magit/magit.git
[submodule "with-editor"]
	path = packages/with-editor
	url = https://github.com/magit/with-editor.git
[submodule "modus-themes"]
	path = packages/modus-themes
	url = https://github.com/protesilaos/modus-themes.git
[submodule "transient"]
	path = packages/transient
	url = https://github.com/magit/transient.git
[submodule "company-mode"]
	path = packages/company-mode
	url = https://github.com/company-mode/company-mode.git
[submodule "evil"]
	path = packages/evil
	url = https://github.com/emacs-evil/evil.git
[submodule "consult"]
	path = packages/consult
	url = https://github.com/minad/consult
[submodule "vertico"]
	path = packages/vertico
	url = https://github.com/minad/vertico.git
[submodule "orderless"]
	path = packages/orderless
	url = https://github.com/oantolin/orderless.git
[submodule "embark"]
	path = packages/embark
	url = https://github.com/oantolin/embark.git
[submodule "marginalia"]
	path = packages/marginalia
	url = https://github.com/minad/marginalia.git
[submodule "all-the-icons.el"]
	path = packages/all-the-icons.el
	url = https://github.com/domtronn/all-the-icons.el.git
[submodule "dash.el"]
	path = packages/dash.el
	url = https://github.com/magnars/dash.el.git
[submodule "all-the-icons-dired"]
	path = packages/all-the-icons-dired
	url = https://github.com/jtbm37/all-the-icons-dired.git
[submodule "all-the-icons-ibuffer"]
	path = packages/all-the-icons-ibuffer
	url = https://github.com/seagle0128/all-the-icons-ibuffer.git
[submodule "f.el"]
	path = packages/f.el
	url = https://github.com/rejeep/f.el.git
[submodule "lsp-mode"]
	path = packages/lsp-mode
	url = https://github.com/emacs-lsp/lsp-mode.git
[submodule "s"]
	path = packages/s
	url = https://github.com/magnars/s.el
[submodule "ht.el"]
	path = packages/ht.el
	url = https://github.com/Wilfred/ht.el.git
[submodule "hydra"]
	path = packages/hydra
	url = https://github.com/abo-abo/hydra.git
[submodule "spinner.el"]
	path = packages/spinner.el
	url = https://github.com/Malabarba/spinner.el.git
[submodule "themes"]
	path = packages/themes
	url = https://github.com/doomemacs/themes.git
[submodule "doom-modeline"]
	path = packages/doom-modeline
	url = https://github.com/seagle0128/doom-modeline.git
[submodule "shrink-path.el"]
	path = packages/shrink-path.el
	url = https://gitlab.com/bennya/shrink-path.el.git
[submodule "frame-local"]
	path = packages/frame-local
	url = https://github.com/sebastiencs/frame-local.git
[submodule "paredit"]
	path = packages/paredit
	url = https://github.com/emacsmirror/paredit.git
[submodule "emacs-dashboard"]
	path = packages/emacs-dashboard
	url = https://github.com/emacs-dashboard/emacs-dashboard.git
[submodule "yasnippet"]
	path = packages/yasnippet
	url = https://github.com/joaotavora/yasnippet.git
[submodule "emacs-which-key"]
	path = packages/emacs-which-key
	url = https://github.com/justbur/emacs-which-key.git
[submodule "general.el"]
	path = packages/general.el
	url = https://github.com/noctuid/general.el.git
[submodule "evil-collection"]
	path = packages/evil-collection
	url = https://github.com/emacs-evil/evil-collection
[submodule "annalist.el"]
	path = packages/annalist.el
	url = https://github.com/noctuid/annalist.el.git
